<div class="container">
  <h2>List of lists</h2>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>

  <%= link_to "Add new list", new_list_path %>
</div>
