<div class="container">
  <h2>List of lists</h2>

  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
        <% if list.photo.attached? %>
          <%= cl_image_tag(list.photo.key, height: 300, width: 400, crop: :fill) %>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
