<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="list-card">
        <%= link_to list.name.capitalize, list_path(list) %>
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, width: 300, height: 200, crop: :fill %>
        <% else %>
          <%= image_tag "default.jpg", alt: "image placeholder", width: 300, height: 200, crop: :fill %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
