<div class="container">
  <h2>List of lists</h2>

  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
        <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
      </li>
    <% end %>
  </ul>

</div>
