<div class="container">
  <h2>List of lists</h2>


<% @lists.each do |list| %>
  <div class="list-card">
    <%= link_to list.name, list_path(list) %>
    <% if list.photo.attached? %>
      <%= cl_image_tag(list.photo.key) %>
    <% else %>
      <%= image_tag "default.jpg", alt: "image placeholder" %>
    <% end %>
  </div>
<% end %>


</div>
