body {
  background-color: #4a4949;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  font-size: 105%;
}

li {
  list-style: none;
}

i {
  color: white;
}

.container {
  width: 900px;
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}
@media(max-width: 480px) {
  .container {
    width: 350px;
  }
}
