.list-card {
  display: flex;
  gap: 20px;
  border-radius: 5px;
  overflow: hidden;
  background-size: cover;
  position: relative;
  flex-grow: 0 1;
  width: 100%;
  background-color: white;

  a {
    font-size: 20px;
    padding-top: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    height: 100%;
    justify-self: stretch;
    background-repeat: no-repeat;
  }
}
